<td
  [ngClass]="{'bg-gray': index % 2 !== 0}"
  style="text-align: center">
  {{ index + 1 }}
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}"
  style="text-align: left; cursor: pointer"
  (click)="openModal('edit', event)">
  {{ event.title }}
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}">{{ event.date }}
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}">{{ event.category }}
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}">{{ event.status }}
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}"
  style="color: royalblue; cursor: pointer"
    (click)="openModal('edit', event)">
  Edit
</td>
<td
  [ngClass]="{'bg-gray': index % 2 !== 0}"
  style="color: red; cursor:pointer;"
  (click)="openModal('delete', event)">
  Delete
</td>

