table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  text-align: center;

  thead{
    background-color: lightslategray;
  }

  th {
    text-transform: uppercase;
    padding: 10px 5px;
    cursor: pointer;
    text-align: start;
  }

  td{
    padding: 10px 5px;
    text-align: start;
  }

  tr{
    border-bottom: 1px solid lightslategray;
  }
}
